@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font: 10pt/180% "noto sans kr";
    color: black;
    background: #191919;
    ;
    scroll-behavior: smooth;
    border: 1px solid #191919;
    margin: auto;
    width: 100%;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: aliceblue;
    border-radius: 3px;
}

a {
    text-decoration: none;
    font: bold 1.6rem/150% "Noto Sans KR";
}

a > span {
    text-decoration: none;
    font: bold 3.5rem/150% "Noto Sans KR";
}

.span1 {
    color: #d2b369;
}

p {
    font: 1.6rem/180% "Noto Sans KR";
    color: aliceblue;
}

h1 {
    font: 8.5rem/180% "Noto Sans KR";
    color: aliceblue;
}

h2 {
    font: 4.5rem/150% "Noto Sans KR";
    color: aliceblue;
}

h3 {
    font: 3.5rem/150% "Noto Sans KR";
    color: aliceblue;
}

h4 {
    font: 100 3.0rem/150% "Noto Sans KR";
    color: aliceblue;
}

h5 {
    font: 2.0rem/150% "Noto Sans KR";
    color: aliceblue;
}

h6 {
    font: 1.2rem/150% "Noto Sans KR";
    color: aliceblue;
}

.smallp {
    font: 100 1.4rem/200% "Noto Sans KR";
    color: aliceblue;
}

body > div {
    width: 100%;
    ;
    background: url(/younge/webpages/images/hoeiso/hoeisoback.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



}

#layout {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 1
}

#layout:after {
    /*background:url(/younge/webpages/images/snow2.gif);; */
    top: 0;
    left: 0;
    position: absolute;
    background-size: 20%;
    background-repeat: repeat;
    opacity: 0.5 !important;
    filter: alpha(opacity=50);
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;

}





/*비디오 슬라이더*/
.slidego {
    animation-name: slidego;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slidego {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 1;
        transform: translatX(0%, 50%);
    }
}

/*비디오 슬라이더끝*/


/*비디오 슬라이더2*/
.slideup {
    animation-name: slideup;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translate(0, 50%);
    }

    100% {
        opacity: 1;
        transform: translatX(0%, -50%);
    }
}

/*비디오 슬라이더2끝*/

aside {
    width: 100%;
    position: relative;
    height: 180px;
}

#etc {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

#etc img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}





/************헤더************/
#header1 {
    width: 100%
}

#headimg {
    width: 100%;
    margin-top: 50px;
}

#headimg > img {
    width: 100%;
}



/************헤더끝************/




/*///////// 메인 ///////////*/
main {
    width: 100%;
    overflow: hidden;
}

main > div {
    padding-top: 30px;
}

main > div > section {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}








/*섹션1*/
.sec1 {}

.sec1 > div:first-of-type {
    display: flex;
}

.sec1 > div:first-of-type > div:nth-of-type(1) {
    flex: 1
}

.sec1 > div:first-of-type > div:nth-of-type(2) {
    flex: 0.35
}

.sec1 > div:first-of-type > div:nth-of-type(3) {
    flex: 0.35
}

.sec1 > div:first-of-type > div:nth-of-type(4) {
    flex: 0.35
}



.sec1 > div > div > a:hover {
    opacity: 0.6
}

.sec1 > div > div > a > img {
    width: 100%;
    
    padding-left: 8%;
    padding-right: 8%;
}


.sec1 > div:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
}

.sec1 > div:nth-of-type(2) > div {
    width: 50%;
}

#sec1left > div {
    margin-top: 0px;
    padding: 2%;
}

#sec1right > div {
    margin-top: 0px;
    padding: 2%;
}

.smallp > a:hover {
    opacity: 0.6
}

.smallp > a > img {
    height: 1.6rem
}

#work {
    width: 100%;
    display: flex;
}

#work > div {
    display: flex;
    position: relative;
}

#work > div:nth-of-type(1) {
    width: 40%;
}

#work > div:nth-of-type(2) {
    width: 12.9%;
    margin-left: 5%;
}

#work > div > a:hover {
    opacity: 0.6
}

#work > div:nth-of-type(1) > a > img {
    width: 100%;
    border: 1px solid white;
}

#work > div:nth-of-type(2) > a > img {
    width: 100%;
    border: 1px solid white;
}

#work > div > a:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

#work > div:nth-of-type(2) > a:nth-of-type(2) {
    font-size: 1.0rem;
}


/*섹션2*/
.sec2 {
    margin-top: 5%;
}

.sec2wrap {
    display: flex;
    flex-wrap: wrap;
}

.sec2wrap > img:nth-of-type(1) {
    width: 55.45%;
    height: 57.78%;
}

.sec2wrap > img:nth-of-type(2) {
    width: 44.54%;
    height: 41.1%;
    margin-top: 10%;
}



/*섹션3*/
.sec3 {
    margin-top: 5%;
	background: transparent;
}

.sec3 > div {
    width: 95%;
    max-width: 1280px;
    margin: auto;
	background: transparent;
}

.sec3 > div > img {
    width: 100%;
}



/*섹션3*/
.sec4 {
    margin-top: 2%;
    width: 100%;
    max-width: 100%;
	background: transparent;
}

.sec4 > div {
    width: 100%;
    margin: auto;
}

.sec4 > div > img {
    width: 100%;
}

.sec5 {
    margin-top: 2%;
    width: 100%;
    max-width: 500px;
}

.sec5 > div {
    width: 100%;
    margin: auto;
    display: flex;
}

.sec5 > div > a {
    padding: 5%;
    padding-bottom: 20%;
}

.sec5 > div > a:hover {
    opacity: 0.6;
}

.sec5 > div > a > img {
    width: 100%;
}



/*  ///////블랙///////////*/

#black {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    display: none;
}





/* ////////////////////*/






































@media (max-width:1280px) {



    a {
        text-decoration: none;
        font: bold 1.0rem/150% "Noto Sans KR";
    }

    a > span {
        text-decoration: none;
        font: bold 2.0rem/150% "Noto Sans KR";
    }

    p {
        font: 1.6rem/180% "Noto Sans KR";
        color: aliceblue;
    }

    h1 {
        font: 5.5rem/180% "Noto Sans KR";
        color: aliceblue;
    }

    h2 {
        font: 2.0rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h3 {
        font: 1.8rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h4 {
        font: 100 1.5rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h5 {
        font: 1.0rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h6 {
        font: 0.8rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    .smallp {
        font: 100 1.3rem/200% "Noto Sans KR";
        color: aliceblue;
    }

    .smallp > a > img {
        height: 0.7rem;
    }










    #work > div:nth-of-type(1) {
        width: 75%;
    }

    #work > div:nth-of-type(2) {
        width: 24.48%;
        margin-left: 5%;
    }



}

































@media (max-width:1050px) {

    p {
        font: 1.2rem/180% "Noto Sans KR";
        color: aliceblue;
    }

    .smallp {
        font: 100 1.0rem/200% "Noto Sans KR";
        color: aliceblue;
    }


}






































@media (max-width:720px) {


    a {
        text-decoration: none;
        font: bold 1.0rem/150% "Noto Sans KR";
    }

    a > span {
        text-decoration: none;
        font: bold 1.4rem/150% "Noto Sans KR";
    }

    p {
        font: 1.4rem/180% "Noto Sans KR";
        color: aliceblue;
    }

    h1 {
        font: 4.5rem/180% "Noto Sans KR";
        color: aliceblue;
    }

    h2 {
        font: 1.8rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h3 {
        font: 1.6rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h4 {
        font: 100 1.2rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h5 {
        font: 1.0rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h6 {
        font: 0.8rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    .smallp {
        font: 100 0.7rem/200% "Noto Sans KR";
        color: aliceblue;
    }




    #headimg {
        width: 100%;
        margin-top: 80px;
    }


    #work > div:nth-of-type(1) {
        width: 75%;
    }

    #work > div:nth-of-type(2) {
        width: 24.98%;
        margin-left: 1%;
    }

    #work > div:nth-of-type(2) > a:nth-of-type(2) {
        font-size: 0.1rem;
    }





    .sec2 {
        margin-top: 20%;
    }

    .sec2wrap > img:nth-of-type(1) {
        width: 100%;
        height: 92.3%;
        margin-top: 0%;
    }

    .sec2wrap > img:nth-of-type(2) {
        width: 100%;
        height: 104.19%;
    }


}



























@media (max-width:460px) {

    a {
        text-decoration: none;
        font: bold 0.6rem/150% "나눔고딕";
    }

    a > span {
        text-decoration: none;
        font: bold 1.1rem/150% "Noto Sans KR";
    }

    p {
        font: 0.8rem/180% "Noto Sans KR";
        color: aliceblue;
    }

    h1 {
        font: 5.5rem/180% "Noto Sans KR";
        color: aliceblue;
    }

    h2 {
        font: 1.4rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h3 {
        font: 1.3rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h4 {
        font: 100 1.0rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h5 {
        font: 1.0rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    h6 {
        font: 0.8rem/150% "Noto Sans KR";
        color: aliceblue;
    }

    .smallp {
        font: 100 0.7rem/200% "Noto Sans KR";
        color: aliceblue;
    }




    #work > div > a:nth-of-type(2) {
        top: 70%;
    }

    #work > div:nth-of-type(1) {
        width: 75%;
    }

    #work > div:nth-of-type(2) {
        width: 29.58%;
        margin-left: 1%;
    }

    #work > div:nth-of-type(2) > a:nth-of-type(2) {
        font-size: 0.6rem;
    }








}







@media (max-width:350px) {

    #work > div > a:nth-of-type(2) {
        top: 80%;
    }

    #work > div:nth-of-type(1) {
        width: 75%;
    }

    #work > div:nth-of-type(2) {
        width: 36.98%;
        margin-left: 1%;
    }

    #work > div:nth-of-type(2) > a:nth-of-type(2) {
        font-size: 0.6rem;
    }



}







/*

@font-face { src: url("/younge/font/NanumGothic.woff"); font-family: "noto sans kr";}


@font-face { src: url("/younge/font/NanumMyeongjo.woff"); font-family: "나눔명조";}

@font-face { src: url("/younge/font/Nanum GaRamYeonGgoc.woff"); font-family: "Nanum GaRamYeonGgoc";}
*/


/* latin-ext */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTPYgFE_.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
